[Unit]
Description=FastAPI Chinook App
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/chinook/backend
Environment="PATH=/opt/chinook/backend/venv/bin"
ExecStart=/opt/chinook/backend/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

